$backBg: #232323;
$distances: 15px;
$borderRadius: 5px;
$border: 1px solid #ddd;
$fontColor: #777;
$placeHolder: #ccc;

input {
    border: $border;
    border-radius: $borderRadius;
    padding-left: 5px;
    padding-right: 5px;
    color: $fontColor;
    &::-webkit-input-placeholder {
        color: $placeHolder;
    }
    &:-moz-placeholder {
        color: $placeHolder;
    }
}

button {
    border-radius: 2px;
    padding: 5px 15px;
    outline: none;
    color: white;
    cursor: pointer;
}

button.delete {
    color: #666 !important;
    background-color: #eee !important;
    font-size: 12px !important;
    margin-left: 20px;
}

button.download {
    background-color: rgb(147, 130, 255);
}

body {
    font-family: "Helvetica Neue", Tahoma, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", STHeitiSC, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: $fontColor;
}

h3 {
    margin: 0;
    font-weight: normal;
}

header {
    background-color: $backBg;
    color: white;
    font-size: 24px;
    padding: 5px 0 5px 10px;
}

#talentuiDevServer {
    min-width: 1200px;
}

.page-container {
    position: relative;
    margin: $distances;
    input[type='checkbox'] {
        margin-right: 10px;
    }
    .save-config {
        position: fixed;
        right: 20px;
        top: 50px;
        button {
            font-size: 15px;
            background-color: rgb(56, 186, 114);
        }
    }
    .config-input-left {
        margin-right: 10px;
        width: 100px;
    }
    .config-input-right {
        &.wide {
            margin-left: 0px;
            width: calc(100% - 245px);
        }
        margin-left: 10px;
        width: calc(100% - 300px);
    }
    input {
        line-height: 24px;
        font-size: 14px;
    }
    .target-config {
        .i + .i {
            margin-top: 10px;
        }
        label {
            display: inline-block;
            width: 80px;
        }
    }
    .config-section {
        margin-bottom: 50px;
        .server-action {
            margin-bottom: 15px;
            button {
                cursor: pointer;
                background-color: rgb(185, 204, 79);
                font-size: 16px;
                color: white;
            }
        }

        .config-input-left + .config-input-left {
            margin-left: 10px;
        }

        button.btn-add-pink {
            margin-left: 20px;
            background-color: rgb(242, 141, 73);
            color: white;
            cursor: pointer;
            font-size: 12px;
        }
    }

    .config-item {
        margin-bottom: 10px;
        input {
            line-height: 20px;
            font-size: 12px;
        }
    }
    .product-item {
        margin-bottom: 30px;
        h3 {
            margin-bottom: 10px;

            .prod-name {
                width: 100px;
                margin-right: 10px;
            }
            .prod-port {
                width: 50px;
                margin-left: 10px;
            }
        }
    }
    .special-config {
        table {
            width: calc(100% - 20px);
            th {
                text-align: left;
            }
            input[type='text'] {
                width: calc(100% - 20px)
            }
        }
        .delete {
            margin-left: 0px;
        }
        .config-input-right.short {
            width: calc(100% - 658px);
        }
    }
}
